
.ta-center{text-align:center;}
.ta-left{text-align:left;}
.ta-right{text-align:right;}
.ta-justify{text-align: justify;}
.tt-capitalize{text-transform: capitalize;}

.td-underline{text-decoration:underline;}
.td-none{text-decoration:none;}

.fw-bold{font-weight:bold;}
.fw-normal{font-weight:normal;}
.fleft, .f-left{float:left;}
.fright, .f-right{float:right;}

.bb-1{border-bottom: 1px solid #DFDFDF;}
.b-1{border: 1px solid #DFDFDF;}

.p-5{padding: 5px;}
.p-10{padding: 10px;}
.p-50{padding: 50px;}
.pb-31{padding-bottom: 31px;}
.pt-5{padding-top:5px;}
.pb-5{padding-bottom: 5px;}
.pb-15{padding-bottom: 15px;}
.pr-5{padding-right: 5px;}
.size-11{font-size: 11px;}
.size-12{font-size: 12px;}

.mt-5{margin-top: 5px}
.mt-15{margin-top: 15px}
.mt-20{margin-top: 20px}
.mt-30{margin-top: 30px}
.mt-n21{margin-top:-21px;}
.mt-10{margin-top: 10px}
.mt-20{margin-top: 20px}
.mt-52{margin-top: 52px}
.mb-5{margin-bottom: 5px}
.mb-15{margin-bottom: 15px}
.mb-20{margin-bottom: 20px}
.mb-90{margin-bottom: 90px;}
.mr-7{margin-right: 7px;}
.mr-8{margin-right: 8px;}
.mr-10{margin-right: 10px;}
.ml-4{margin-left: 4px;}
.ml-5{margin-left: 5px;}
.ml-10{margin-left: 10px;}


.w-140{width: 140px}
.w-410{width: 410px}
.w-400{width: 400px}
.w-50{width: 50px;}
.w-55{width: 55px;}
.h-55{height: 55px;}
.w-60{width: 60px;}
.w-35{width:35px;}
.w-p10{width: 10%;}
.w-p18{width: 18%;}
.w-p65{width: 65%;}
.w-p80{width: 80%;}
.w-p99{width: 99%;}
.w-p50{width: 50%;}
.w-p88{width: 88%;}
.w-p100{width: 100%;}

.h-40{height: 40px;}
.h-50{height: 50px;}
.h-60{height: 60px;}
.h-125{height: 125px}

.clear{clear:both;}
.w-auto{width:auto;}
.m-auto{margin:auto}
.h-auto{height:auto;}
.o-auto{overflow:auto;}
.o-hidden{overflow: hidden;}
.p-absolute{position:absolute;}
.p-relative{position:relative;}
.p-fixed{position:fixed;}
.d-none{display:none;}
.d-block{display:block;}
.d-it{display:inline-table;}

.c-pointer{cursor:pointer;}

.c-gray, .gray{color:#434343 !important;}
.c-red{color:rgb(240, 15, 60);}
.c-black{color:#000 !important;}
.bg-white{background:white;}


