*{
    margin:0;
    padding:0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video, button {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
@font-face {
font-family: 'FontAwesome';
src: url('/fonts/fontawesome-webfont.eot?v=4.1.0');
src: url('/fonts/fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype'), url('/fonts/fontawesome-webfont.woff?v=4.1.0') format('woff'), url('/fonts/fontawesome-webfont.ttf?v=4.1.0') format('truetype'), url('/fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'OpenSansRegular';
src: url('/fonts/opensans-regular.eot');
src: url('/fonts/opensans-regular.eot') format('embedded-opentype'), url('/fonts/opensans-regular.woff') format('woff'), url('/fonts/opensans-regular.ttf') format('truetype'), url('/fonts/opensans-regular.svg#OpenSansRegular') format('svg');
}
body {
    margin:0;
    padding:0 !important;
    background:#f3f3f3 !important;
    font-family:'OpenSansRegular';
    color: #353535
}
a{color: #204056;text-decoration: none;}
a:hover{text-decoration: underline;}

ul {
    margin:0;
    padding:0;
    list-style-type:none;
}
img {
    border:none;
    max-width:100%;
    max-height:100%;
}
.site-intro{
    color: rgb(70, 69, 69);
    height: 550px;
}
.site-intro .intro-text-wrapper{
    position: relative;
    top: 330px;
    z-index: 1000;
}
.site-intro .intro-text-wrapper .intro-text{
    text-align: center;
    color: white;
    background: rgba(55,55,55,0.4);
    width: 40%;
    margin-left: 376px;
    padding: 30px;
    border-radius: 4px;
}
.site-intro .intro-text-wrapper .intro-text h1{font-size: 2.5em;}
.site-intro .intro-text-wrapper .intro-text p{font-size: 1.2em;margin-top: 15px;}
.flexslider{overflow: hidden;opacity: 0.8;}
.flexslider .flex-direction-nav, .flexslider .flex-control-paging{display: none}
#overlay{
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    z-index:50;
    background: red;
    display: none;
}

.autocomplete{clear: both;height: auto}
.autocomplete .aside_contentView{width: 85%;}
#results .suggestions{
    text-align: center;
    font-size: 12px;
    border-top: 1px solid #ddd;
    padding: 7px;
    margin-top: 9px;
}
#results{
    background: #FAFAFA;
    width: 500px;
    position: relative;
    top: 2px;
    z-index: 2000;
    left: -13px;
    max-height: 500px;
    overflow: auto;
    padding: 5px;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.25);
    border: 1px solid #ddd;
    border-radius: 3px;
    display: none;
}

.fb_iframe_widget{top:-7px !important;left: 10px;}

.fixed{position: fixed;top:80px;}
.floatL {
    float:left;
}
.floatR {
    float:right;
}
.posR{ position:relative;}

.paddingt10 {
    padding-top:10px;
}

.paddingt20 {
    padding-top:20px;
}
.margint15 {
    margin-top:15px;
}
.margint10 {
    margin-top:10px;
}
.cl,.clear {
    clear:both;
}

#container {
    width:100%;
}
#container .hero{position: relative;top: -144px;margin-top: 0}
.header {
    background: none repeat scroll 0 0 #E7E7E7;
    height: 57px;
}
#header {
    width:100%;
    z-index: 10000;
    position: relative;
    box-sizing:border-box;
}

footer{
  width: 100%;
  text-align: center;
  font-size: 0.70em;
  background: #204056;
  padding: 25px;
}
footer.mb-25{margin-bottom: 25px;}
footer, footer div a, footer a.facebook{color: #b0aeae;}
footer a.facebook:before{font-size: 1em !important;}
footer div a:hover{text-decoration: none;color: #EAE6E6;}
footer a.facebook{background: none;}
footer a.facebook:hover{background: none;color: #EAE6E6;}
footer div{margin: 30px 0px;}
footer div.copyright{margin-top:5px;}
footer div a{padding: 15px 10px;font-weight: bold;}
footer div.social a{padding: 20px 25px;}
footer div.social *:before{font-size: 1.2em;}

.Search {
    width:350px;
    margin:12px 0 0 20px;
    border-radius: 60px;
    height: 32px;
    padding-left: 15px;
    background:#fff;
    border:1px solid #D7D8D8;
}
.Search input {
    border:none;
    height:28px;
    float:left;
    width:80%;
    color:#909090;
    outline: none;
    font-size: 1.3em;
}
#location{
    display: block;
    padding: 5px 15px 5px 11px;
    background: transparent;
    margin-top: 15px;
    margin-left: 75px;
    border-radius: 3px;
    color: #666;
    text-transform: capitalize;
    font-size: 14px;
    border: 1px solid #BABABA;
    cursor: pointer;
}
button{outline: none;}
#location:hover{text-decoration: none;}
a#signup{
    background: #C52F24;
    line-height: 18px;
    padding: 7px 20px;
    margin-left: 5px;
    border-radius: 3px;
    margin-top: 13px;
    color: white;
    border-left: none;
}
a#login{border-right: none;margin-right: 15px;}
a#signup:hover{opacity: 0.9;}
nav ul li:nth-child(1)/*, nav ul li:nth-child(3), nav ul li:nth-child(4) */
{display:none;}

.pushy a{font-size: 12px;}
.pushy a:hover{text-decoration: none;}
.pushy{top:57px;background: #204056}
.push li:hover{opacity: 0.9;}

#show-language-filter{position: absolute;
    top: 22em;
    float: right;
    text-align: right;
    right: 338px;
    padding: 5px 25px !important;
    border: 1px solid #a4a1a1;
    font-size: 12px;
}
#show-language-filter-menu{top: 28em;right: 340px;}
.share-box{width:auto; height:auto;padding:25px;min-width: 350px}
a.facebook, .share-box a.twitter, a.google-button{
    border-radius: 3px;
    color: white;
    cursor: pointer;
    font-family: 'OpenSansRegular';
    font-size: 15px;
    padding: 10px 25px;
    margin-right: 10px
}
#login a.facebook, #login a.google-plus{
    display: block;
    margin-bottom:20px;
}
a.facebook{background: linear-gradient(to bottom, #3b5998 0%, #395796 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);}
a.facebook:hover{background: linear-gradient(to bottom, #3b5998 0%, #24458B 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);color: white;text-decoration: none;}

.share-box a.twitter{background: linear-gradient(to bottom, #55acee 0%, #55acee 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);}
.share-box a.twitter:hover{background: linear-gradient(to bottom, #55acee 0%, #0C8FF3 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);color: white;text-decoration: none;}

#share a.google-plus, a.google-button{
    background: linear-gradient(to bottom, #C52F24 0%, #CA372C 100%) repeat scroll 0 0 transparent;
}
#share a.google-plus:hover, a.google-button:hover{
    background: linear-gradient(to bottom, #C53025 0%, #E24135 100%) repeat scroll 0 0 transparent;
    text-decoration: none
}
.home {
    width:95%;
    margin:auto;
}
.listing {
    width:100%;
}
.left_Part {
    width:100%;
}
.right_Part {
    width:300px;
}
.Mainf h2 {
    font-size: 40px;
    letter-spacing: -2px;
    line-height: 45px;
}
.Mainf p {
    font-size:14px;
    padding:10px 0 0 0;
    line-height:20px;
}
.product {
    width:15%;
    border-width:1px;
    border-style:solid;
    border-color:#e0e0e0 #e0e0e0 #b9b9b9;
    background:#FFFFFF;
    margin-right:2%;
    margin-bottom:22px;
    -webkit-transition: all 1s ease 0s;
    -moz-transition: all 1s ease 0s;
    transition: all 1s ease 0s;
    height: 280px
}
.product:hover, .playsong:hover{border-color:rgb(252, 85, 6);}
.product h2 {
    font-size:0.75em;
    padding-bottom:3px;
    font-weight: bold;
}
/*.product span {
    font-size:12px;
    display:block;
    padding:3px 0 0 0;
}*/

h1.title{font-size: 1.5em}
.product img.show{width: 100%;height: 180px}
.form{width: 600px;}
.form.edit-form{width: 750px;}
.form.edit-form.nopic{top: 0px;}
.form .header{
    color: #204056;
    font-size: 1.8em;
    font-weight: bold;
    background: transparent;
}
.form .row{clear:both; height:auto;overflow:auto;width:100%;margin:10px 5px;}
.form .row:last-child{margin-bottom: 0px;}
.form .row .field{
    width: 100%;
    padding: 5px;
    border: 1px solid #DFDFDF;
}
.form .label{
    float: left;
    text-align: right;
    width: 12%;
    padding: 5px 10px 0px 0px;
    font-weight: bold;
    font-size: 0.98em;
    color: #555;
}
.form .input{
    float: left;
    text-align: left;
    width: 85%;
    color:#333;
}

.form .input.textOnly{padding: 5px;}
.form .input.short{
    float: left;
    text-align: left;
    width: 65%  
}
.form .input.justText{margin-top: 5px}
.form .helper{
    float: left;
    text-align: right;
    width: 20%;
    font-size: 11px;
    position: relative;
    top: 5px;
    color: gray;
}
.form .helper input[type=checkbox]{margin-right: 5px;}
.form .field{
    padding: 5px;
    width:100%;
    border:1px solid #DFDFDF;
    color: #333;
    background: white
}
.form-pic-container{
  position: absolute;
  top: 7px;
  float: right;
  right: 17px;
  width:10%;
  z-index: 2000;
  height: 70px;
}
.form-pic-container .fakeFile{
  position: relative;
  top: -75px;
  width: 70px;
  height: 70px !important;
  display: block !important;
  opacity: 0 !important;
}
.form-pic-container .pic{
  height: 70px;
  width: 70px;
  border-radius: 50%;
  border: 1px solid #DFDFDF;
}
.form .field.short, .form .row.short{width: 85%}
.form .row.short .label{width: 14%}
select.field.col3{width: 85px !important;margin-right: 5px;}

.form .input .pic{
    float: left;
    width: 20%
}
.form .input .pic img{
  width: 50px;
  height: 50px;
  border: 1px solid #DFDFDF;
  border-radius: 50%;
}
#flash{
  position: fixed;
  text-align: center;
  background: rgba(50, 50, 50, 0.9);
  width: 100%;
  height: 80px;
  z-index: 500000;
  padding: 20px 10px;
  color: white;
  font-size: 0.95em;
  font-weight: bold;
  letter-spacing: 0.7px;
}
.form .bgcolor{padding: 10px 20px;font-size: 0.90em;font-weight: bold;}
.form #info{font-size: 13px;line-height: 18px;}
.form .block{margin: 10px 0px;}
*:before, *:after{
    display:inline-block;
    font-family: FontAwesome;
    margin:-3px 0px 0 0px;
    vertical-align:middle;
    padding:0px 3px;
}

.playicon:before {content: "\f04b";}
.shoping:before {content: "\f07a";}
.share:before{content:"\f1e0";}
.viewicon:before {content: "\f03d";}
.track-icon:before{content: "\f001";}
.stack-icon:before{content: "\f192";}
.length-icon:before{content: "\f017";}
.play-icon:before {content: "\f04b";}
.view-icon:before{content:"\f06e";padding-right: 3px;}
.upload:before{content:"\f093";}
.playlist:before{content:"\f03a";}
.controls:before{content: "\f141";}
.music_play:before {content: "\f04b";}
.view_play:before {content: "\f03d";}
.angle-down-bold:before{content: "\f078"}
.download_play:before {content: "\f019";}
.down_play:before {content: "\f063";}
.angle-down:before{content:"\f0d7";padding: 0px;margin-left: 4px;}
.bin:before{content:"\f014";}
.close:before{content: "\f00d"}
.edit:before{content:"\f044";}
.move:before{content:"\f064";}
.split:before{content:"\f065";}
.merge:before{content:"\f066";}
.map:before{content: "\f041"}
.more:before{content: "\f141";font-size: 25px;margin: 0px 0px 0px 4px;}
.report:before{content: "\f024"}
.copyright:before{content: "\f1f9"}
.facebook:before{content:"\f09a";}
.twitter:before{content:"\f099";}
.google-plus:before{content: "\f0d5"}
.link:before{content: "\f0c1";}
.user:before{content: "\f007";}
.follow:before{content: "\f09e";}
.dollar:before{content: "\f155";margin-right: 6px;}
.required:after{content: "\f069";font-size: 5px;color: rgb(239, 5, 5);margin: 0px;}
a.bin:hover, a.edit:hover, a.move:hover, a.split:hover, a.merge:hover{text-decoration: none;color:#204056 !important;}


.cf:before, .cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
    padding-right: 0px !important;
    margin: 0px;
}
.cf:after {
    clear: both;
}
.cf {*zoom: 1;}


.play, .tracks {
    padding:0 10px 0 0px;
    font-size:10px;
    color: #2C2C2C;
}

.play_icon {
    background-position: 0 0px;
    height: 14px;
    width: 14px;
}
.music_icon {
    background:url(../images/music_icon.png) no-repeat;
    margin-top:-4px;
    vertical-align:middle;
}

.space {
    padding:10px 5px;
}
.space .length-icon:before{padding-left: 0px;}
.space span a{color:#2C2C2C; font-size: 11px}
.track_icon {
    background-position: 0 -15px;
    height: 15px;
    width: 18px;
}

.asideleftpart .filters{margin: 15px 0px 10px 0px}
.filter ul.tabs{margin: 0px;padding: 0px;/*border-bottom: 1px solid #d7d7d7;*/clear: both;list-style-type:none;height: 42px;}
.filter li.tab{position: relative;top: -1px;float: left;padding: 5px 10px;margin: 0px 1px 0px 0px;font-size: 15px;color: #999;list-style: none;-moz-user-select: none;-khtml-user-select: none;cursor: pointer;}
.filter li.tab.selected, .filter li.tab:hover{border-bottom: 1px solid #aaaaaa;color: #000;}
.filter li.tab:hover a, .filter li.tab.selected a{color:#434343 !important;}
.filter li.tab a{color:#999 !important;}
.filter li.tab a:hover{text-decoration: none}

.playsong {
    width: 142px !important;
    padding: 0 0 15px 0;
    background: #fff;
    border-color: #e0e0e0 #e0e0e0 #b9b9b9;
    border-style: solid;
    border-width: 1px;
    margin-bottom:10px;
    height: 170px;
}
.playsong:nth-child(1), .playsong:nth-child(2){ margin-top:0px;}
.playsong span {
    font-size:.11px;
    text-transform:capitalize;
    padding:5px 0 0 5px;
    font-weight: bold;
    display:block;
}


.playsong:nth-child(2n+2) {
float:right;
}
.advert{margin:15px auto;}
.advert.bottom{padding-top:40px;}
.main_image {
    background: url(../images/main_image.jpg) no-repeat;
    background-position: center center;
    height:359px;
}
.asideleftpart, .Sasideleftpart {
    width:75.5%;
}
.asiderightpart, .Showasiderightpart {
    min-width:23%;
}
.ads{background: #fff;border-width: 1px;border-style: solid;border-color: #e5e6e9 #dfe0e4 #d0d1d5;}

.TabbedPanelsTab{outline: none;}
.detail, .detail1 {
    background:#fff;
    padding:10px;
    border-width:1px;
    border-style:solid;
    border-color:#e5e6e9 #dfe0e4 #d0d1d5;
    padding:10px;
}
.home.detail{min-height: 400px;}
.detail#track-listings{margin-top: 5px;}
.image-width {
    display:block;
    float:left;
    width:200px;height:205px;
}

.show-detail {width:76%;}
.show-detail .description{
    text-align: justify;
    font-size: 11px;
    display:block;
    line-height: 17px
}
.show-detail .description.artist,.show-detail .description.album{text-align: none;font-size: 12px;}
.show-detail h1 {font-size:1.45em;}
.show-detail h1.album, .show-detail h1.song{text-transform: capitalize;}
.show-detail h1 span{font-size: 20px;}
.show-detail p {
    font-size:0.8em;
    line-height:20px;
    padding:10px 0 0 0;
}
/*.show-detail span {
    font-size:0.73em;
    padding:10px 0 0 0;
    display:block;
}*/

.list-hd.page{margin-top: 25px;}
.list-hd.page h1{font-size: 1em}
.Smrtracks{font-size: 1em}
.bgcolor {
    background-color: #fcfcfc;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(235, 235, 235, 0.3) 60%, rgba(225, 225, 225, 0.6));
    border: 1px solid #e5e5e5;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.02), 0 1px 0 rgba(255, 255, 255, 0.7) inset, -1px 0 0 rgba(255, 255, 255, 0.7) inset, 0 -1px 0 rgba(255, 255, 255, 0.5) inset, 1px 0 0 rgba(255, 255, 255, 0.7) inset;
    box-sizing: border-box;
    color: #333;
    cursor: pointer;
    padding:2px 8px;
    font-size:0.7em;
    text-align: center;
    margin-top:10px;
    text-shadow: 0 1px 0 #fff;
    vertical-align: baseline;
    margin-right:7px;
}
.bgcolor:hover {
    background-color: #f9f9f9;
    border-color: #e5e5e5 #ccc #ccc;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15), 0 1px 0 rgba(255, 255, 255, 1) inset, -1px 0 0 rgba(248, 248, 248, 1) inset, 0 -1px 0 rgba(248, 248, 248, 0.5) inset, 1px 0 0 rgba(248, 248, 248, 1) inset;
    color: #333;
    outline: 0 none;
    text-shadow: -1px -1px 0 #fcfcfc, 1px -1px 0 #fcfcfc, -1px 1px 0 #fcfcfc, 1px 1px 0 #fff;
}
.filters{
  margin: 20px auto;
  display: table;
}


.filters .filter{float: left}
.filters .filter ul{height: auto}
.filter .bgcolor{
    padding: 5px 15px !important; 
    border:1px solid #CAC7C7;
    font-size: 15px;
    display: block;
    text-transform: capitalize;
    margin-top: 0px;
}
.filters .filter.first{width: 85%}
.filters .filter .popover ul li a{font-size: 12px;color:#434343;text-transform: capitalize;}
.filters .filter .popover{margin-left: -20px;}
.asideleftpart .filters .filter .popover{margin-left: 0px}
.show-detail .bgcolor{padding: 5px 15px;}
a.bgcolor:hover{text-decoration: none;}
.bgcolor:last-child{margin-right: 6px;}
.arrow-up{
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 11px solid transparent;
    border-bottom: 10px solid #fff;
    position: absolute;
    top: -10px;
    
}
.arrow-upRight {right: 26px;}
.arrow-upRight1{right:20px;}
.arrow-upRight2{right: 20px;}
.arrow-center{left:47%;}
.arrow-upLeft{left: 20px;}
.popover, .pmenu{border: 1px solid #DFDFDF;min-width: 150px;height: auto;position: absolute;background: white;z-index: 500000;font-size: 11px;box-shadow: 2px 3px 7px 0px rgb(61, 61, 61);}
.popover ul li{float:none !important;}
.popover ul li a{ font-family: Arial, Helvetica, sans-serif; font-size:13px !important; display:block; padding:0px 10px;border-right: 0px !important; border-bottom:1px solid #eee; line-height:28px !important; height:28px; text-transform:none !important;}
.popover ul li a:hover{ background:#204056;text-decoration:none; color:white !important;}
.popover .column{float: left;margin-right: 25px;}
.column:last-child{margin-right: 0px;}
.popover .column ul li a{border: none;}
.popover .column ul li a:hover{background: #FFF !important;color:#204056 !important;}
.pmenu{right:390px;padding: 10px;}
.admin-menu{right:350px;}
.page-menu{right:347px;margin-top: -40px;}
#location-menu{left:45%;top:56px;}
#profile-menu{left: 6%;top: 56px;}
.disabled{pointer-events:none;}
.admin-page .admin-menu{right: 10px;}
.admin-page .pmenu{right:20px;}
.admin-page #location-menu{left: -16%;width: 150px;}
.admin-page #stacks-menu{right:125px;top: 56px}
.admin-page #topliners-menu{right:215px;top: 56px}
.admin-page #tracks-menu{right:50px;top: 56px}
.admin-page #profile-menu{left:63%;top:56px;}
input[type=checkbox], input[type='radio']{margin-right: 5px;position: relative;top: 2px;left: 5px;}


.sign ul li a img.profile{display: inline-block;margin: 10px;border-radius: 26px;padding-top: 0px;height: 35px;width: 35px;}
.intro-wrapper{
    position: relative;
    top: 180px;
    width: 515px;
    overflow: hidden;
    background: rgba(55, 55, 55, 0.5);
    color: white;
    padding: 35px 35px;
    border-radius: 3px;
    text-align: center;
    clear: both;
    left: 28%
}

.intro{padding: 15px;text-align: justify;font-size: 12px;line-height: 20px;}
.intro h1,.intro h2, .intro h3, .intro h4, .intro ul li b{font-weight: bold;}
.intro h1,.intro h2, .intro h3, .intro h4{font-weight: bold;}
.intro h2{font-size: 25px;margin-top: 20px;padding: 7px 0px}
.intro h2:first-child{margin-top: 0px;}
.intro ul li, .intro ol li{margin-left: 28px;list-style: square;padding:5px 0px;}
.intro ul li a{font-weight: bold;}
.intro h3{font-size: 1.3em;margin-top: 15px;}
.intro h4{font-size: 1em}
.intro .updated_at{margin:-5px 0px 10px 0px}
.intro ul ul{margin-left: 18px}
input,textarea,select{outline: none;font-family: OpenSansRegular;font-size: 12px;}
form{font-size: 12px}
.button{
    border: 1px solid;
    padding: 5px 15px 5px 15px;
    background: #204056;
    color: white;
    border-radius: 3px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}
.button:hover{background: #03B270;}
img.logo{margin:13px 0 0 10px;}
img.logo:hover{opacity: 0.8;}
.showpage-image {
    width:22%;
    margin-right:10px;
}
.showpage-image img{
    width:200px;height:205px;
}
.listing_inner {
    padding:10px 0;
    border-bottom:1px solid #ddd;
}
.listing_inner:hover, .Asidecontent:hover{background: #F7F7F7;}
.listing_inner:first-child, .Asidecontent:first-child{padding-top: 0}
.listing_inner:last-child, .Asidecontent:last-child{padding-bottom: 0;border: 0;}
.listing_image {
    width:50px;
    height: 50px;
}
.listing_content, .listing_content1 {
    width:70%;
    margin:0 9px;
}
.music_button {
    width:auto;
}
.listing_content h3, .listing_content1 h3 {
    font-family:'OpenSansRegular';
    font-size:15px;
}
.listing_content h4, .listing_content1 h4 {
    font-family:'OpenSansRegular';
    font-size:11px;
}
.listing_content p, .listing_content1 p {
    font-size:12px;
    padding-top:3px;
    color:#666666;
}

.music_Mbutton:before {
    display:inline-block;
    font-family: 'FontAwesome';
    font-size:12px;
}
.searchlisting {
    background:#fff;
    box-shadow:0 0 8px #ccc;
    padding:20px;
}
.listinginnerCnt {
    width:133px;
    margin-right:20px;
    margin-bottom:30px;
}
.listinginnerCnt:nth-child(6n+6) {
margin-right:0;
}
.listinginnerCnt img {
}
.listinginnerCnt h2 {
    font-size:0.95em;
    color:#333;
    padding:5px 0;
}
.Countlist {
    font-size:11px;
    padding-right:10px;
    color:#999;
}
.Mplay {
    background-position: 0 -41px;
    height: 13px;
    width: 11px;
}
.Mview {
    background-position: 0 -30px;
    height: 11px;
    width: 17px;
}
.listinginnerCnt p {
    font-size:11px;
    color:#999;
    clear:both;
    padding:5px 0 0 0;
}
.advertisement {
    background:#FFFFFF;
    border:1px solid #999999;
    width:100%;
    height:225px;
    text-align:center;
    line-height:225px;
}
.Asidecontent {
    width:100%;
    padding:10px 0;
    border-bottom:1px solid #ddd;
}
.autocomplete .Asidecontent{padding: 5px 0px;}
.autocomplete .Asidecontent img{height: 45px;width: 45px;}
.aside_contentView {
    padding: 0 0 0 10px;
}
.aside_contentView h3 {
    font-size:0.91em;
}
.aside_contentView p {
    font-size:0.75em;
    color:#555555;
    margin-top: 5px;
}
.sign ul li {
    float:left;
    overflow: hidden;
    height: auto;
}
.sign ul li:last-child a {
    border-right:none;
    padding-right:0;
}

.sign ul li a{
display: block;
font-size: 12px;
line-height: 57px;
color: #333;
padding: 0 10px;
text-decoration: none;
border-right: 1px solid #CECCCC;
font-weight: bold;
letter-spacing: 1px;
}
.popover ul li a{font-weight: normal;}
.sign ul li a.selected, a.name:hover, a#login:hover{color:#204056;}

.MorePro {
    width:500px;
    margin:10px auto;
    background: rgb(252,252,252); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(252, 252, 252, 1) 0%, rgba(241, 241, 241, 1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(252, 252, 252, 1)), color-stop(100%, rgba(241, 241, 241, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(252, 252, 252, 1) 0%, rgba(241, 241, 241, 1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(252, 252, 252, 1) 0%, rgba(241, 241, 241, 1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(252, 252, 252, 1) 0%, rgba(241, 241, 241, 1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(252, 252, 252, 1) 0%, rgba(241, 241, 241, 1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#f1f1f1', GradientType=0 ); /* IE6-9 */
    border:1px solid #fff;
    outline:1px solid #d7d7d7;
    font-size:18px;
    text-align:center;
    padding:10px 0;
}
.MorePro:hover{background: #f1f1f1; /* Old browsers */
background: -moz-linear-gradient(top, #f1f1f1 0%, #fbfbfb 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1f1f1), color-stop(100%,#fbfbfb)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #f1f1f1 0%,#fbfbfb 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #f1f1f1 0%,#fbfbfb 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #f1f1f1 0%,#fbfbfb 100%); /* IE10+ */
background: linear-gradient(to bottom, #f1f1f1 0%,#fbfbfb 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f1f1', endColorstr='#fbfbfb',GradientType=0 ); /* IE6-9 */}
a#load-more{color:black;text-decoration: none;display: block}
a#load-more :hover{text-decoration: none;}
/* Menu Button */

.menu-btn:before {
    color: #fff;
    content: "";
    cursor: pointer;
    display: inline-block;
    font-family: 'FontAwesome';
    font-size: 25px;
    padding: 17px 0 0;
}
.menu-btn:hover:before{
    color: #204056;
}
.FBcnt {
    background:#f6f6f6;
    padding:10px;
}
.fbcomment {
    float: left;
    height: 40px;
    margin-left: 10px;
    width: 838px;
    border:1px solid #acb9d6;
}
.FBcnt button {
    background:#90a2c5;
    padding:2px;
    border:1px solid #697ca4;
    font:bold 12px Arial, Helvetica, sans-serif;
    color:#FFF;
    float:right;
    margin:3px 0 0 0;
}
.MostPlayed {
    font-size: 1.2em;
    padding-bottom: 10px;
}
.DidFont {
    font:normal 11px Arial, Helvetica, sans-serif;
    color:red;
    padding:5px 0 0 0;
}
.InputSerach select {
    border:1px solid #e1e1e1;
    padding:4px;
    width:150px;
}
.Smrtracks {
    margin:10px 0 2px 0;
    text-transform:capitalize;
}
.Mainf {
    width:500px;
    padding:70px 0 0 80px;
}

@media screen and (max-width: 1600px) and (min-width: 1400px){
    .product:nth-child(6n+6){margin-right:0;}
    .top-advert{display: none}
    .asideleftpart, .Sasideleftpart{width: 77%}
    .asiderightpart, .Showasiderightpart{width: 22%}
    .show-detail{width: 78%}
}
@media screen and (max-width: 1400px) and (min-width: 1200px){
    .product:nth-child(6n+6){margin-right:0;}
    .top-advert{display: none}
}
@media screen and (max-width: 1200px) and (min-width: 900px){
    .top-advert{display: block}
    .home {width:96.15384615384616%;}
    .left_Part {width:76.92307692307693%;}
    .right_Part {width:19.230769230769234%;}
    .product h2{font-size:0.95em;}
    .product:nth-child(5n+5){margin-right:0;}
    .product{width:15.19%;margin-right:1.7500000000000002%;}
    .space {padding:6.667% 3.335% 6.667%;}
    .playsong {width:45.45454545454545%;}
    .detail{padding:1.0638297872340425%;}
    .asideleftpart, .Sasideleftpart{width:100%;}
    .show-detail{width:78.40425531914894%;}
    .showpage-image{width:19.25531914893617%;margin-right:1.0638297872340425%;}
    .listing_image{width:4.042553191489362%;}
    .music_button{width:16%;}
    .listing_content, .listing_content1{width:61.829787234042556%;margin:0 1.0638297872340425%;}
    .searchlisting{padding:2.127659574468085%;}
    .listinginnerCnt{width:14.89%;margin-right:2.127659574468085%;}
    .asiderightpart, .Showasiderightpart{width:31%;display: none}
    .bgcolor{padding:0.8695652173913043% 3.4782608695652173%;}
    .aside_contentView{width:76%;padding-left:3.3333333333333335%;}
    .aside_contentView h3{font-size:1em;}
    .detail1{/*padding:3.3333333333333335%;*/}
    .Search{width:32.4%;margin:12px 0 0 4%;}
    .Search input{width:84.90566037735849%;}
    .MorePro{width:53.191489361702125%;}
    .sign ul li a {font-size: 0.79em;padding: 0 4.16667%;}
    .fbcomment{width:84.21739130434783%;}
    #location-menu{left: 55%;}
}

@media screen and (max-width: 1100px) and (min-width: 900px){
    .product {width: 15.2%;}
    .product:nth-child(5n+5){margin-right:0;}
}

@media screen and (max-width: 1040px) and (min-width: 900px){
    .product {width:18.59%;}
    .product:nth-child(5n+5){margin-right:0 !important;}
    .product h2 {font-size:0.72em;}
    .product span, .playsong span {font-size:0.8em;}
    .filter li{font-size: 0.85em;}
    .product img.show{width:176px;}
    .music_button{width: 16%;}
    .listing_content, .listing_content1{width: 74.829787%}
    .left_Part {width:100%;}
    .right_Part {display: none;}
    .show-detail {width: 73.404%;}
    .showpage-image{width: 25.569%;}
    .sign ul li a {font-size: 0.8em;}
    .sign ul li#name {display: none;}
    #profile-menu {left: -145%;}
    .aside_contentView {width:70%;}
}

@media screen and (max-width: 790px) and (min-width: 605px){
    .product {width:31.588888%;margin-bottom:15px;}
    .product:nth-child(3n+3){margin-right:0 !important;}
    .showpage-image img{height: 125px;}
    .left_Part {width:100%;}
    .right_Part{width:100%;display:none;}
    .playsong:nth-child(7n+7){margin-right: 2.71589%;}
    .playsong{width:13.984%;margin-right: 2.71589%;float:left !important;}
    .music_button {width: 32%;float: right;}
    .listing_image{width: 6.043%;}
    .asideleftpart, .Showasiderightpart {width:100%;}
    .listinginnerCnt{width:23.40%;}
    .listinginnerCnt:nth-child(4n+4) {margin-right:0 !important;}
    .listinginnerCnt:nth-child(6n+6) {margin-right:2.127659574468085%;}
    .listing_content {width: 90.83%;}
    .listing_content1 {width: 67.83%;}
    .Showasiderightpart > img {float:left;margin-top:15px;margin-right: 2.9%;}
    .Showasiderightpart{display: none;}
    .detail1 {float: left;width: 100%;}
    nav ul li:nth-child(1), nav ul li:nth-child(3), nav ul li:nth-child(4) {display:block;}
    .Search{width:23.4%;}
}

@media screen and (max-width: 640px) {
.listing_content1{width: 53.83%;}
}

@media screen and (max-width: 600px) {
    .product {width:23.688%;}
    .product:nth-child(4n+4) {margin-right:0;}
    .product:nth-child(5n+5) {margin-right:1.7500000000000002%;}
    .listing_image{width: 9.043%;}
    .listinginnerCnt h2 {font-size:0.79em;}
    .Showasiderightpart > img {float:none;width:100%;}
    .detail1{float:none;margin-left:0;width: 100% !important;}
    .listing_content{width: 87.83%;}
    .listing_content1{width: 84.83%;}
}

@media screen and (max-width: 500px) {
    .product {width:32.1111%;}
    .product:nth-child(3n+3) {margin-right:0!important;}
    .product:nth-child(4n+4){margin-right:1.7500000000000002%;}
    .show-detail{width:57.8723%}
    .showpage-image{width: 40.555%;}
    .show-detail h2{font-size: 1.45em;}
    .listinginnerCnt{width:48.92%;}
    .listing_content1{width: 87.83%;}
    .playsong:nth-child(4n+4), .listinginnerCnt:nth-child(2n+2) {margin-right:0;}
    .playsong:nth-child(6n+6){margin-right:2.71589%;}
    .playsong{width:22.816%;}
    .listing_content1{width: 84.83%;}
}

@media screen and (max-width: 450px) {
    .listing_content1 {width: 81.83%;}
}

@media screen and (max-width: 380px) {
    .listing_content1 {width: 78.83%;}
}

@media screen and (max-width: 340px) {
    .product {width:48%;}
    .product:nth-child(2n+2) {margin-right:0;float:right;}
    .product h2 {font-size:0.75em;}
    .detail, .show-detail {width:100%;}
    .image-width {display:block;margin:auto!important;float:none;width:200px !important;height: 220px !important;}
    .showpage-image{width: 100%;}
    .listinginnerCnt{width: 48.94%;}
    .listinginnerCnt:nth-child(2n+2) {margin-right:0 !important;}
    .listinginnerCnt:nth-child(3n+3) {margin-right:2.127659574468085%;}
    .playsong{width:31.5%;}
    .playsong:nth-child(3n+3) {margin-right:0;}
    .playsong:nth-child(4n+4) {margin-right:2.71589%;}
    .listing_content1 {width: 79.83%;}
    nav.top ul > li {width: 33%;}
    .DidFont {width:100%;margin:auto;}
    .upload {margin-left:10px;}
}

@media screen and (max-width: 260px) {
    .playsong:nth-child(3n+3) {margin-right:0;}
    .playsong {width:30.9985587%;margin-right: 2.71589%;}
    .playsong:nth-child(5n+5) {margin-right: 2.71589%;}
    .asiderightpart{float:none;}
    .Sasideleftpart{width:100%;}
    .aside_contentView {width:74%;}
    .InputSerach{width:100%;}
    .listing_content1{width: 73.83%;}
}

::-webkit-scrollbar
{
  width: 6px;  /* for vertical scrollbars */
  height: 6px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb
{
  border-radius: 6px;
  background: rgba(0, 0, 0, 0.4);
}

/* Tocken input Hacks*/
ul.token-input-list-facebook{width: 100% !important;border: 1px solid #DFDFDF !important;}
.song-album ul.token-input-list-facebook{width: 85% !important}
/* Fancybox Hack*/
.fb_iframe_widget{top:-2px;}
.fancybox-title-outside{display: none !important;}
#fancybox-outer{background: white !important;}

/* File upload hack*/
.template-download .name a:hover{color: #204056}
.uploader input{height: 30px;border: none;box-shadow: none;box-shadow:none !important}
.fileupload-buttonbar{
  margin-left: 40px;
  padding-top: 35px;
}
.fileupload-buttonbar .btn.fileinput-button{padding: 10px 40px}
.progress{height: 10px}
.files .progress{width: 300px;margin-bottom: 0px;margin-top: 10px;position: relative;top: -3px}
.start .upload{margin: 0px;background: #204056}
.start, .close{text-align: right !important}
button.close, button.bin, a.preview{
  display: inline-block;
  margin-bottom: 0;
  font-size: 13px;
  cursor: pointer;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
button.close, .start .upload{
    padding: 5px 10px;
    cursor: pointer;
    font-family: 'OpenSansRegular';
    font-size: 12px;
}
tr:last-child .table th, .table td{border-bottom: 1px solid #dddddd;}
.table th, .table td{vertical-align: middle}

button.close{
    background:rgb(241, 241, 241);
    color: #333333;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border: 1px solid #cccccc;
}
.choose-file-button{
  width: 200px;
  margin: 0 auto;
}
td.start{text-align: right !important}
td.cancel, td.delete{text-align: left !important}
td.cancel, td.delete{width: 30px;}