<div class="hero">
	<% cache "intro-v1" do %>
		<div class="site-intro">
            <div class="intro-text-wrapper">
              <div class="intro-text">
                <h1>Doctors near you!</h1>
                <p>Community recommended doctors in your locality</p>
              </div>
            </div>
            <div class="flexslider">
                <ul class="slides">
                    <li>
                      <img src="<%=IMAGE_CDN_BASE%>/doctor.jpg" />
                    </li>
                    <li>
                      <img src="<%=IMAGE_CDN_BASE%>/lab.jpg" />
                    </li>
                    <li>
                      <img src="<%=IMAGE_CDN_BASE%>/doctors.jpg" />
                    </li>
                    <li>
                      <img src="<%=IMAGE_CDN_BASE%>/patient.jpg" />
                    </li>
                </ul>
            </div>
        </div>
	</div>
	<% end %>
</div>

<script>
$(window).load(function() {
  $('.flexslider').flexslider({
    animation: "fade", slideshowSpeed:4000,animationSpeed: Modernizr.touch ? 400 : 4500
  });
});
</script>