<%init_koala%>
<div class='clear p-50 ta-center' id='login'>
    <a href='<%=facebook_authentication_url%>' rel="nofollow" class='facebook fw-bold'>
    Continue with Facebook</a>
    <a href= "/auth/google" class="google-plus google-button fw-bold">Continue with Google</a>
  </br>
	<iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Ffacebook.com%2Fpractoline&amp;width&amp;layout=standard&amp;action=like&amp;show_faces=true&amp;share=false&amp;height=80&amp;appId=<%=Facebook::API_KEY%>" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:80px;" allowTransparency="true"></iframe>
</div>
