
	<div class="home">
		<div class="listing">
			<div class="asideleftpart floatL">

				<div class="detail cf" id='detail'>
					<div class="showpage-image"> 
						<img src="<%= image_url(@item, 'show')%>" alt="show image" align="left" class="image-width"/> 
					</div>
					<div class="show-detail floatR">
						<h1 class="tt-capitalize">
							<%=@item.title%>
							<a class='fright size-12 admin angle-down d-none c-gray' id="admin-<%=@item.id%>"></a>
						</h1>
						<div class='d-none popover page-menu mt-n40' id="menu-admin-<%=@item.id%>">
							<%#= render :partial => 'controls', :locals => {:item => @item}%>
						</div>
						<div class='mt-5 mb-5 size-11 c-gray'>
							<%#= render :partial => 'stats', :locals => {:item => @item}%>
						</div>
						<% unless true #@item.description.blank?%>
							<span itemprop="description" class='description'><%=truncate(@item.description, :length => 700)%></span>
						<% end %>
						<div class='mt-15'>
							<a class="user bgcolor disabled" href="#">Friend</a>
							<a class="share bgcolor fancybox" href="/<%=@item.class.underscore%>/share/<%=@item.id%>">Share</a>
						</div>
					</div>
				</div>

				<!--tab start-->

				<div class="filters">
					<div class="filter">
					 	<ul>
					    	<li class="<%= params[:list].blank? ? 'tab selected' : 'tab'%>"><a href="<%=@item.to_url%>">All</a></li>
					    	<li class="tab"><a href="<%=@item.to_url%>">Tab 2</a></li>
					  	</ul>
					</div>
				</div>
				
				<div class="detail margint10 cf" id ='tracks'>
					Details
				</div>

				<!--tab finsih-->
				<div class="cl"></div>
			</div>
		</div>
	</div>





