<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<div class="cl"></div>
<footer class="<%= @item ? 'mb-25' : ''%>">
	<div>
		<a href='/about'>About</a> 
		<a href='/terms'>Terms</a> 
		<a href="/privacy">Privacy</a> 
		<a href="/cookies">Cookies</a> 
		<a href="/copyright">Copyright</a>
		<a href="/contact_us" class="fancybox">Contact Us</a>
	</div>
	<div class="social">
	    <a href="<%=FACEBOOK_PAGE%>" class='facebook' target="_blank"></a> 
	    <a href="<%=TWITTER_PAGE%>" class = 'twitter' target="_blank"></a> 
	    <a href="<%=GOOGLE_PAGE%>" class = 'google-plus' rel="publisher" target="_blank"></a>
	</div>
	<div class="site"><a href='/' class="copyright"><%=APP_URL.gsub('http://','')%></a></div> 
	<%= google_analytics_js%>
	<%= render('ads')%>
</footer>
