<div class="header cf" id = 'header'>
  <div class="home">
        <div class="menu-btn floatL"></div>
        <a href='/'><img src="<%=IMAGE_CDN_BASE%>/logo.png" class='logo' align="left"/></a>
        <div class="floatL">
          <button class='map nav' id ='location'><%= @location["city"] || @location["country"] rescue 'Location'%></button>
        </div>
        <div class="floatL Search">
          <form action = '/search'>
            <input name="keyword" id='keyword' type="text" value = '<%= params[:keyword]%>' placeholder="Search doctors, speciality or labs in Delhi" autocomplete='off'/>
          </form>
          <div id='results'></div>
        </div>

        <div class='d-none popover' id ='location-menu'></div>
        <div class="sign floatR posR">
          <ul>
            <% if current_user %>
              <li id='name'><a href="<%=current_user.to_url%>" class='name'><%=current_user.name%></a></li>
              <li class='pt-3'>
                <a href="<%=current_user.to_url%>" class='nav' id='profile'>
                  <%=image_tag(current_user.image(:small), :class => 'profile')%>
                </a>
              </li>
            <% else %>
              <li><a href="/login" class='fancybox' id ='login'>Login</a></li>
              <li><a href="/login" class='fancybox' id ='signup'>Create an account</a></li>
            <% end %>
          </ul>

          <% if current_user%>
            <div class='d-none popover' id ='profile-menu'>
              <div class="arrow-up arrow-upRight"></div>
                  <ul>
                    <% if current_user.admin? %>
                      <li><a href="/admin" class='size-12 c-gray'>Admin</a></li>
                    <% end %>
                    <li><a href="<%=current_user.to_url%>" class='size-12 c-gray'>Profile</a></li>
                    <li><a href="/logout" class='size-12 c-gray'>Logout</a></li>
              </ul>
            </div>
          <% end %>
      </div>
    </div>
</div>
<script>
  $(window).load(function(){
    $("#header").sticky({ topSpacing: 0 });
  });
</script>
