<!DOCTYPE html>
<html lang='en'>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	  	<title><%= title.html_safe%></title>
		<link rel="shortcut icon" type="image/png" href="<%=IMAGE_CDN_BASE%>/favicon.png?v=1">
		<link rel="apple-touch-icon" href="<%=IMAGE_CDN_BASE%>/apple-touch-icon.png?v=1" />
		<link rel="apple-touch-icon-precomposed" href="<%=IMAGE_CDN_BASE%>/apple-touch-icon.png?v=1"/>
		<link rel="image_src" href="<%=item_image%>">

		<meta name='yandex-verification' content='5ff8a422505f132c'/>
		<meta name="msvalidate.01" content="FA16A46222561E81D2DC4A1A790A2662"/>
		<meta name="google-site-verification" content="MkfbKTWoDJSaVKxuZ41hyvsCJ7bBMGBvMFEnbXHrkc8" />
		
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<meta name="title" content="<%= title.html_safe%>">
		<meta name="keywords" content="<%=meta_keywords.html_safe%>">
		<meta name="description" content="<%=meta_description.html_safe%>">

		<%#= render :partial => 'open_graph_meta_tags'%>

	 	<%= stylesheet_link_tag("home", :media => "all")%>
	 	<%= javascript_include_tag("home")%>
	 	<%= csrf_meta_tags %>
	</head>

	<body>
		<%#=facebook_js%>
		<nav class="pushy pushy-left">
      		<ul>
    			<li><input name="" type="text" value="Search here..."/></li>
    			<li><a href="/">Home</a></li>
			    <li><a href="/about">About</a></li>
			    <li><a href="/copyright">Copyright</a></li>
			    <li><a href="/terms">Terms</a></li>
			    <li><a href="/privacy">Privacty</a></li>
			    <li><a href="/resources">Resources</a></li>
			    <li><a href="/contact_us" class="fancybox">Contact Us</a></li>
			    <li><a href="<%=FACEBOOK_PAGE%>" target="_blank">Facebook</a></li>
			    <li><a href="<%=TWITTER_PAGE%>" target="_blank">Twitter</a></li>
			    <li><a href="<%=GOOGLE_PAGE%>" rel="publisher" target="_blank">Google</a></li>
  			</ul>
    	</nav>
    	<div id='flash' class="d-none"></div>
    	<%= render('header')%>
		<div id="container" class="<%=controller.action_name=='index' ? '' : 'mt-30'%>">
		    <%=yield%>
	    </div>
	    <%= render('footer')%>
	</body>
</html>
    
    